                                 .bd { text-align: left; background-color:#ddeef6;}
 
                                 #signin_menu p { padding-bottom: .25em }

 
                                 #ft p {
                                     min-height: 1.5em;
                                     height: 2em;
                                 }
                                 

	#signin_menu input[type=text], #signin_menu input[type=password] {
		display:block;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border:1px solid #ccc;
		font-size:14px;
		margin:0 0 5px;
		padding:5px;
		width:203px;
	}
	#signin_menu p {
		margin:0;
	}
	#signin_menu a {
		color:#6AC;
	}
	#signin_menu label {
		font-weight:normal;
	}
	#signin_menu p.remember {
		padding:10px 0;
	}
	#signin_menu p.forgot, #signin_menu p.complete {
		clear:both;
		margin:5px 0;
	}
	#signin_menu p a {
		color:#27B!important;
	}

