<rules>

<rule role="Observer" action="approve"/>

<rule role="Project Owner" action="deny">

I'm sorry, but we can't accept your project owner request.

</rule>

<rule role="Developer, Content Developer" action="talk">

Subject: your ${role} role in the ${project} project
From: fkieviet@dev.java.net
Reply-To: dev@open-esb.dev.java.net
To: ${user}@dev.java.net
CC: dev@open-esb.dev.java.net

Hello ${user} ,

Thank you for requesting the ${role} role for the ${project} project.  In order to continue our review process and consideration, it would be helpful if you could provide us with some additional details about yourself :

- Why do you want to become a developer for the ${project} project?
- Tell us more about yourself including any open source development experience.
- What areas are you interested in? Have you already had contacts with existing developers in those areas?
- Have you submitted any patches or bug fixes to the ${project} project already? If yes, issue id and patch details?

The procedure we use is that you start out with the Observer role, which you can request and it's automatically granted. This allows you to download the source and run a full build. If you fix a bug or implement an enhancement, you must submit your changes to us for review. Once we are satisfied with the changes, we will commit them into the codeline. After a few iterations of this process, you would be granted the Developer role. Once that happens, you can commit changes yourself, but all changes are still required to be reviewed by us prior to committing.

All contributors to the ${project} project need to sign and return the Sun Microsystems Contributor Agreement (SCA) form (see http://www.sun.com/software/opensource/contributor_agreement.jsp). A PDF of the SCA document is available here: http://www.sun.com/software/opensource/sca.pdf. Please print this form out, fill in the necessary details, and return it via any of the following three means:

    * Fax - a completed, signed copy to: 1-626-408-7122
    * E-mail - a scanned, completed, signed copy to oesb-extcontrib@sun.com.
    * Mail - a completed, signed copy to:

      Frank Kieviet
      c/o Sun Microsystems, Inc.
      800 E Royal Oaks Drive
      Monrovia, CA 91016 

We look forward to hearing from you at your earliest convenience so we can continue our evaluation of your role request.

Regards, 
Frank

</rule>

</rules>

